body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
  background-image: url('./images/pexels-victorfreitas-841130.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Arial', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00;
}