body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
  background-image: url('./images/pexels-victorfreitas-841130.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sidebar {
  width: 250px;
  background-color: #1f1f1f;
  height: 100vh;
  position: fixed; 
  overflow-y: auto; 
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #333;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.welcome-message {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-header {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.section-description {
  color: #e0e0e0;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.empty-workout-message {
  color: #cccccc;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.btn.my-search-button {
  background-color: #000000;
  color: #FFFF00;
}

.btn.my-add-exercise-button {
  background-color: #000000;
  color: #FFFF00;
}

html body .btn.my-search-button:hover {
  background-color: #333333;
  color: #FFFF00;
}

html body .btn.my-add-exercise-button:hover {
  background-color: #333333;
  color: #FFFF00;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-form {
  width: 100%;
  max-width: 600px;
}

.found-exercises h4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.found-exercises .exercise-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.found-exercises p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666;
}

.found-exercises .exercise-instructions {
  font-size: 16px;
  margin-top: 0.5rem;
}
.found-exercises .exercise-type,
.found-exercises .exercise-muscle,
.found-exercises .exercise-difficulty {
  font-style: normal;
  font-weight: 400;
}

.found-exercises h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #333;
}

.card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #666;
}

.carousels-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.individual-carousel-container {
  flex: 1;
  margin: 0 10px;
  max-width: 400px;
}

.carousel-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}